<h4>Name: {{ name }}</h4>
<div class="row">
  <div class="col-md-6 col-md-push-6 col-sm-12">
  <img class="coffee__status__image" src="http://icons.iconarchive.com/icons/iconsmind/outline/128/Coffee-Machine-icon.png">
  </div>
  <div class="col-md-6 col-md-pull-6 col-sm-12">
    <table class="table">
      <tbody>
        <tr class="{{ connected.class }}">
          <td>Connected</td>
          <td>{{ connected.text }}</td>
        </tr>
        <tr class="{{ beans.class }}">
          <td>Coffee beans left in container</td>
          <td>{{ beans.text }}</td>
        </tr>
        <tr class="{{ water.class }}">
          <td>Amount of water in tank</td>
          <td>{{ water.text }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
